/*
 * BIS specific style sheet
 */
 
.mainscreen {
	padding-left:15px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#FFFF99;
}

.scrollTable table
{
	border-collapse: collapse;
}
.scrollTable table td, .scrollTable table th
{
	vertical-align: top;
	text-align: left;
	margin: 0px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	white-space: nowrap;
	border-top: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	border-left: solid 1px #aaaaaa;
	border-right: solid 1px #aaaaaa;
}

.containerDiv {
	margin-left: 10px;
	margin-right: 10px;
	width: 600px;
}

#infobalkLinks {
	position:relative;
	float:left;
	padding:5px;
	width:300px;
	height:180px;
	background-color:#FFFF99;
}

#infobalkMidden {
	position:relative;
	overflow:auto; /* Deze balk heeft als enige een variabele inhoud */
	float:left;
	padding:5px;
	width:300px;
	height:180px;
	background-color:#FFFF99;
}

#infobalkRechts {
	position:relative;
	float:left;
	padding:5px;
	width:200px;
	height:180px;
	background-color:#FFFF99;
}

#inschrijving {
	z-index:2;
	display:none;
	position:absolute;
	background-color:white;
}

#overlay {
	z-index:1;
	display:none;
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color:#000000;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

.italic {
	font-style:italic;
}

.leftrightmargins {
	margin-left:10px;
	margin-right:10px;
}

.topbar {
	margin-left:0px;
	margin-right:0px;
	overflow:hidden; /* So it will contain the header and closediv */
	background-color:#FFFF99;
}

#topbar_mainscreen {
	padding-left:10px;
	padding-right:10px; 
	background-color:#FFFF99;
	height:190px;
}

.header {
	margin-left:10px;
	float:left;
	background-color:#FFFF99;
	height:35px;
}

.closediv {
	float:right;
	background-color:#FFFF99;
}

#resscreen {
	clear:both;
}

.successmsg {
	clear:both;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	background-color:#AAFFAA; /* greenish */
}

.failmsg {
	clear:both;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	background-color:#FFC1C1; /* reddish */
}

.bisheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height:17px;
	font-weight: bold;
	color: #CC9900;
	text-align: left;
	word-spacing: normal;
	letter-spacing: 1pt;
}

/* BUTTONS */

input.bisbtn {
	padding: 0.5em 1em;
	border:1px solid #CC9900;
	background-color:#CC9900;
	color:white;
	font-size:1em;
	font-weight:bold;
	height:35px;
}

input.bisbtn:hover {
	color:#CC9900;
	background-color:white;
}

.smalltextbtn {
	font-size:10px;
}

.smallertextbtn {
	font-size:9px;
}