#infobalkLinks {
	position:relative;
	float:left;
	padding:5px;
	width:300px;
	height:180px;
	background-color:#FFFF99;
}

#infobalkMidden {
	position:relative;
	overflow:auto; /* Deze balk heeft als enige een variabele inhoud */
	float:left;
	padding:5px;
	width:300px;
	height:180px;
	background-color:#FFFF99;
}

#infobalkRechts {
	position:relative;
	float:left;
	padding:5px;
	width:200px;
	height:180px;
	background-color:#FFFF99;
}
